@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXAHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNi83AHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNirXAHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 500;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNin3AHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNic3cHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiSncHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXcHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url(nunito/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiBHcHjabf.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDDshdTQ3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDOUhdTQ3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDIkhdTQ3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDGUmdTQ3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDFwmdTQ3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmdTQ3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url(nunito/XRXI3I6Li01BKofiOc5wtlZ2di8HDBImdTQ3ig.ttf) format('truetype');
}
