body {
  font-family: 'colfaxwebregular';
  line-height: 1.5;
  color:         #333;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
h1, h2, h3 {
  font-family: 'colfax-light';
  font-weight: normal;
}
.remark-slide-content {
  font-size: 24pt;
  padding: 1em;
  padding-top: 0.5em;
}
.remark-slide-number {
  font-size: 12pt;
  bottom: 21px;
}
.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro';
  font-size: 80%;
  background-color: #f0f0f0;
}
code {
  border-radius: 5px;
}
em {
  font-family: 'colfaxwebregularitalic';
}
.remark-code-line {
  font-size: 65%;
}
.fn {
  font-size: 50%;
  vertical-align: super;
}
.footnote {
  font-size: 75%;
}
.normalimg img {
  width: 100%;
}
.remark-slide-content:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 70px;
  width: 210px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../shared/PagerDuty-logo-green.png')
}
.remark-visible {
  background: #333;
}
.remark-slide-scaler {
  box-shadow: 0 0 30px #000;
  -webkit-box-shadow: 0 0 30px #000;
}
